  <!--   when you click in add books or edit this validates the input and link fields data to the corresponding id.        -->
<div class="form-group">
  <label for="item">Book and author name:</label>

    
  <input  required value="<%= part.item %>" type="text" +"  name="item" id="item" maxlength="25" class="form-control">
</div>

<div class="form-group">
 <label for="price">Price:</label>
 <input  required value="<%= part.price %>" type="number" step="0.01" name="price" id="price" onKeyPress="if(this.value.length>10) return false;" class="form-control">
</div>

<div class="form-group">
  <label for="name">Award Category:</label>
  
  <input  required value="<%= part.name %>" type="text" name="name" id="name"  maxlength="20"  class="form-control">
</div>

<a href="/#Audiobook" class="btn btn-danger" >Cancel</a>

<button class="btn btn-primary"  type="submit" style="background-color: #3a3f3b;"> Save  </button>