
<!--the following code  has been sourced from title: How To Build A Markdown Blog Using Node.js, Express, And MongoDB 
Author: Web Dev Simplified Availability: https://www.youtube.com/watch?v=1NrHkjlWVhM-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

  <title>BLM Book Shop</title>
</head>
<body>
  <div class="container">
   <h3 >  Edit Book   </h3>

    <form action="/bookarts/<%= part.id %>?_omethod=PUT" method="POST"> <!--part of the CRUD making a post request to update -->
  <%- include('_formbook_fields') %>  
<!--calling the form field file-->
    </form>
  </div>

  
</body>
</html>